#principal{
    border-width: 1px;
    width: 1300px;
    height: 650px;
    margin-left: 50px;
    display: block;
    
    
}


#txtP{
    transform: rotate(-90deg);
    font-size: 6px;
    text-align: center;
}

#P31{

    position: relative;
    width: 22px;
    height: 13px;
    top: -1265px;
    left: 62px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P31:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P32{

    position: relative;
    width: 22px;
    height: 13px;
    top: -1278px;
    left: 84px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P32:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P33{

    position: relative;
    width: 22px;
    height: 13px;
    top: -1289px;
    left: 105px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P33:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P34{

    position: relative;
    width: 22px;
    height: 13px;
    top: -1303px;
    left: 127px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P34:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P35{

    position: relative;
    width: 22px;
    height: 13px;
    top: -1317px;
    left: 149px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P35:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P36{

    position: relative;
    width: 22px;
    height: 13px;
    top: -1329px;
    left: 170px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P36:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P37{

    position: relative;
    width: 22px;
    height: 13px;
    top: -1342px;
    left: 192px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P37:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P38{

    position: relative;
    width: 22px;
    height: 13px;
    top: -1342px;
    left: 192px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P38:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P39{

    position: relative;
    width: 22px;
    height: 13px;
    top: -1355px;
    left: 171px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P39:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P40{

    position: relative;
    width: 22px;
    height: 13px;
    top: -1369px;
    left: 149px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P40:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P41{

    position: relative;
    width: 22px;
    height: 13px;
    top: -1382px;
    left: 128px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P41:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P42{

    position: relative;
    width: 22px;
    height: 13px;
    top: -1394px;
    left: 105px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P42:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P43{

    position: relative;
    width: 22px;
    height: 13px;
    top: -1407px;
    left: 85px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P43:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P44{

    position: relative;
    width: 22px;
    height: 13px;
    top: -1420px;
    left: 64px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P44:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}




#P123{

    position: relative;
    width: 13px;
    height: 18px;
    top: -162px;
    left: 660px;
    
    background-color: rgb(192,192,192);
   
   
    
    z-index: 99;
}

#P123:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P124{

    position: relative;
    width: 13px;
    height: 18px;
    top: -162px;
    left: 660px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P124:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P125{

    position: relative;
    width: 13px;
    height: 18px;
    top: -162px;
    left: 660px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P125:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P126{

    position: relative;
    width: 13px;
    height: 18px;
    top: -162px;
    left: 660px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P126:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P127{

    position: relative;
    width: 13px;
    height: 18px;
    top: -162px;
    left: 660px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P127:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P128{

    position: relative;
    width: 13px;
    height: 18px;
    top: -162px;
    left: 660px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P128:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P129{

    position: relative;
    width: 13px;
    height: 18px;
    top: -162px;
    left: 660px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P129:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P136{

    position: relative;
    width: 13px;
    height: 18px;
    top: -287px;
    left: 675px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P136:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P135{

    position: relative;
    width: 13px;
    height: 18px;
    top: -287px;
    left: 675px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P135:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P134{

    position: relative;
    width: 13px;
    height: 18px;
    top: -287px;
    left: 675px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P134:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P133{

    position: relative;
    width: 13px;
    height: 18px;
    top: -287px;
    left: 675px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P133:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P132{

    position: relative;
    width: 13px;
    height: 18px;
    top: -287px;
    left: 675px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P132:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P131{

    position: relative;
    width: 13px;
    height: 18px;
    top: -287px;
    left: 675px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P131:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P130{

    position: relative;
    width: 13px;
    height: 18px;
    top: -287px;
    left: 675px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P130:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P137{

    position: relative;
    width: 13px;
    height: 18px;
    top: -412px;
    left: 720px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P137:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P138{

    position: relative;
    width: 13px;
    height: 18px;
    top: -412px;
    left: 720px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P138:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P139{

    position: relative;
    width: 13px;
    height: 18px;
    top: -412px;
    left: 720px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P139:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P140{

    position: relative;
    width: 13px;
    height: 18px;
    top: -412px;
    left: 720px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P140:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P141{

    position: relative;
    width: 13px;
    height: 18px;
    top: -412px;
    left: 720px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P141:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P142{

    position: relative;
    width: 13px;
    height: 18px;
    top: -412px;
    left: 720px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P142:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P148{

    position: relative;
    width: 13px;
    height: 18px;
    top: -520px;
    left: 734px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P148:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P147{

    position: relative;
    width: 13px;
    height: 18px;
    top: -520px;
    left: 734px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P147:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P146{

    position: relative;
    width: 13px;
    height: 18px;
    top: -520px;
    left: 734px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P146:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P145{

    position: relative;
    width: 13px;
    height: 18px;
    top: -520px;
    left: 734px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P145:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P144{

    position: relative;
    width: 13px;
    height: 18px;
    top: -520px;
    left: 734px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P144:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P143{

    position: relative;
    width: 13px;
    height: 18px;
    top: -520px;
    left: 734px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P143:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P149{

    position: relative;
    width: 13px;
    height: 18px;
    top: -628px;
    left: 784px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P149:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P150{

    position: relative;
    width: 13px;
    height: 18px;
    top: -628px;
    left: 784px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P150:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P151{

    position: relative;
    width: 13px;
    height: 18px;
    top: -628px;
    left: 784px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P151:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P152{

    position: relative;
    width: 13px;
    height: 18px;
    top: -628px;
    left: 784px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P152:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P153{

    position: relative;
    width: 13px;
    height: 18px;
    top: -628px;
    left: 784px;
    
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P153:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P154{

    position: relative;
    width: 13px;
    height: 18px;
    top: -628px;
    left: 784px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P154:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P155{

    position: relative;
    width: 13px;
    height: 18px;
    top: -628px;
    left: 784px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P155:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P162{

    position: relative;
    width: 13px;
    height: 18px;
    top: -755px;
    left: 799px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P162:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P161{

    position: relative;
    width: 13px;
    height: 18px;
    top: -754px;
    left: 799px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P161:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P160{

    position: relative;
    width: 13px;
    height: 18px;
    top: -754px;
    left: 799px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P160:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P159{

    position: relative;
    width: 13px;
    height: 18px;
    top: -754px;
    left: 799px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P159:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P158{

    position: relative;
    width: 13px;
    height: 18px;
    top: -754px;
    left: 799px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P158:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P157{

    position: relative;
    width: 13px;
    height: 18px;
    top: -754px;
    left: 799px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P157:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P156{

    position: relative;
    width: 13px;
    height: 18px;
    top: -754px;
    left: 799px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P156:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P163{

    position: relative;
    width: 13px;
    height: 18px;
    top: -879px;
    left: 846px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P163:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P164{

    position: relative;
    width: 13px;
    height: 18px;
    top: -878px;
    left: 846px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P164:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P165{

    position: relative;
    width: 13px;
    height: 18px;
    top: -878px;
    left: 846px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P165:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P166{

    position: relative;
    width: 13px;
    height: 18px;
    top: -878px;
    left: 846px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P166:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P167{

    position: relative;
    width: 13px;
    height: 18px;
    top: -881px;
    left: 846px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P167:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P168{

    position: relative;
    width: 13px;
    height: 18px;
    top: -881px;
    left: 846px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P168:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P174{

    position: relative;
    width: 13px;
    height: 18px;
    top: -990px;
    left: 860px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P174:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P173{

    position: relative;
    width: 13px;
    height: 18px;
    top: -990px;
    left: 860px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P173:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P172{

    position: relative;
    width: 13px;
    height: 18px;
    top: -990px;
    left: 860px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P172:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P171{

    position: relative;
    width: 13px;
    height: 18px;
    top: -990px;
    left: 860px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P171:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#P170{

    position: relative;
    width: 13px;
    height: 18px;
    top: -990px;
    left: 860px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P170:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}
#P169{

    position: relative;
    width: 13px;
    height: 18px;
    top: -990px;
    left: 860px;
    background-color: rgb(192,192,192);
    
    z-index: 99;
}
#P179:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}








#Preuniao01{

    width: 13px;
    height: 18px;
    top: -878px;
    left: 846px;
     z-index: 99;
}
#Preuniao02{

    width: 13px;
    height: 18px;
    top: -878px;
    left: 846px;
    left: 740px;
   
    
    z-index: 99;
}
#Ptreinamento{

    width: 13px;
    height: 18px;
    top: -878px;
    left: 846px;

    
    z-index: 99;
}