<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="KVM Informatica - Banco Santander" />
<meta name="keywords" content="monitoracao, video conferencia, áudio e vídeo, manutenção, suporte" />
<meta name="description" content="Indicadores de produtividade KVM Informática para operação no Santander" />
<meta name="robots" content="index, follow" />
<meta http-equiv="content-language" content="pt-BR" />
<title>Indicadores da Operação - KVM Informatica</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <iframe width="100%" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiODQ5NTJmODYtZDk1YS00OWY3LThlZmYtMTc4NGFiZDEzZWRlIiwidCI6IjQwN2UzNGY4LWM1NzEtNDM1NC05YWIzLWRlMTk1YWI5NzlhNiJ9" frameborder="0" allowFullScreen="true"></iframe>
</body>



</html>